<div class="d-flex justify-content-between align-items-center">
    <div>
        <div class="fw-semibold font-15">Adults</div>
        <div class="fw-light font-14 text-muted">Age 13 or above</div>
    </div>
    <div class="d-flex align-items-center">
        <button class="btn-round minus change-not-allowed">
            <div class="minus-icon-wrapper">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;"><path d="m2 16h28"></path></svg>
            </div>
        </button>
        <div class="counter-num adult">0</div>
        <button class="btn-round plus">
            <div class="plus-icon-wrapper">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;"><path d="m2 16h28m-14-14v28"></path></svg>
            </div>
        </button>
    </div>
</div>
<div class="line-break my-3"></div>
<div class="d-flex justify-content-between align-items-center">
    <div>
        <div class="fw-semibold font-15">Children</div>
        <div class="fw-light font-14 text-muted">Age 2 to 12</div>
    </div>
    <div class="d-flex align-items-center">
        <button class="btn-round minus change-not-allowed">
            <div class="minus-icon-wrapper">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;"><path d="m2 16h28"></path></svg>
            </div>
        </button>
        <div class="counter-num children">0</div>
        <button class="btn-round plus">
            <div class="plus-icon-wrapper">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;"><path d="m2 16h28m-14-14v28"></path></svg>
            </div>
        </button>
    </div>
</div>
<div class="line-break my-3"></div>
<div class="d-flex justify-content-between align-items-center">
    <div>
        <div class="fw-semibold font-15">Infants</div>
        <div class="fw-light font-14 text-muted">Under 2</div>
    </div>
    <div class="d-flex align-items-center">
        <button class="btn-round minus change-not-allowed">
            <div class="minus-icon-wrapper">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;"><path d="m2 16h28"></path></svg>
            </div>
        </button>
        <div class="counter-num infant">0</div>
        <button class="btn-round plus">
            <div class="plus-icon-wrapper">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;"><path d="m2 16h28m-14-14v28"></path></svg>
            </div>
        </button>
    </div>
</div>
<div class="line-break my-3"></div>
<div class="d-flex justify-content-between align-items-center">
    <div>
        <div class="fw-semibold font-15">Pets</div>
        <div class="fw-normal font-14 text-muted text-decoration-underline">Bringing a service animal?</div>
    </div>
    <div class="d-flex align-items-center">
        <button class="btn-round minus change-not-allowed">
            <div class="minus-icon-wrapper">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;"><path d="m2 16h28"></path></svg>
            </div>
        </button>
        <div class="counter-num pet">0</div>
        <button class="btn-round plus">
            <div class="plus-icon-wrapper">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;"><path d="m2 16h28m-14-14v28"></path></svg>
            </div>
        </button>
    </div>
</div>