<div class="container">
  <h1 class="mt-5">Editing listing</h1>

  <%= render "form", listing: @listing %>

  <br>


  <div>
    <%# link_to "Show this listing", @listing %> 
    <%# link_to "Back to listings", listings_path %>
  </div>
</div>
