<h1>Editing feature type</h1>

<%= render "form", feature_type: @feature_type %>

<br>

<div>
  <%= link_to "Show this feature type", @feature_type %> |
  <%= link_to "Back to feature types", feature_types_path %>
</div>
