<div class="container p-5">
  <div class="h2 mb-3">Welcome to hosting!</div>
  <div class="my-5">
		<div class="h5 mb-3">Your addresses</div>
	</div>
	<div class="my-5">
		<div class="h5 mb-3">Your listings</div>
	</div>
	<div class="my-5">
		<div class="h5 mb-3">Your reservations</div>
	</div>
</div>