<% displayed_chatroom = chatroom %>

<% if displayed_chatroom.bookings_exists %>
    <div> 
        <div class="chatroom_detail_title ">Your Stay at <%= displayed_chatroom.listing.user.display_name %>'s place</div>
        <%= render partial: "bookings/booking_info_partial", :locals => {booking: displayed_chatroom.last_booking} %>
    </div>
<% else %>
    <div>
        <div class="chatroom_detail_title "><%= displayed_chatroom.listing.user.display_name %>'s place</div>
        <%= render partial: "related_listing_partial", :locals => {listing: displayed_chatroom.listing } %>
    </div>
<% end %>